h1{
    font-family: 'Fredoka', sans-serif;
    color:#e49041;
}

h3{
    font-family: 'Fredoka', sans-serif;
}

h5{
    font-family: 'Fredoka', sans-serif;
}

button{
    height: 5em;
    width: 5em;
    border: 1px solid black;
    background-color: lightgray;
}
